<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<title>Gold</title>
		<script>
			window.addEventListener( 'load', ev => {
				goldPS=1;
				gold=0;
				ObjInterval = null,
				totalGold = document.querySelector( "#totalGold" ),
				totalGold.textContent = gold
				function augmenter(){
					if (gold + goldPS <= Number.MAX_VALUE){
						gold += goldPS;
						totalGold.textContent = gold;
					} else if (ObjInterval){
						clearInterval(ObjInterval);
						gold = Number.MAX_VALUE;
					}
				}
				ObjInterval = setInterval(augmenter, 1000, gold, goldPS);
			});
		</script>
	</head>
	<body>
		<main>
			<p id="totalGold"></p>
			<input id="1gold" type="button" value="+1 g/s" onclick="goldPS=goldPS+1">
	  	</main>
	</body>
</html>


