<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Template Main CSS File -->
  <link href="assets/css/login.css" rel="stylesheet">
</head>

<body>
  <div class="container">

    <% if(logged) { %>
      <form action="/logout" method="post" role="form" class="login-form">
        <div class="text-center"><button type="submit">Logout</button></div>
      </form>
      <% } else { %>
        <form action="/login" method="post" role="form" class="login-form">
          <% if (error!=undefined && error) {%>
            <% unlogged=true%>
              <p>Wrong credentials, try again!</p>
              <% }%>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" id="emailsignin" placeholder="E-mail" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="mdp" id="mdpsignin" placeholder="Password" required>
                </div>
                <div class="text-center"><button type="submit">Jouer</button></div>
        </form>
        <br>

        <form action="/signup" method="post" role="form" class="login-form">
          <% if (error!=undefined && error && !unlogged) {%>
            <p>Bad char</p>
            <% }%>
              <div class="form-group">
                <input type="email" name="email" class="form-control" id="emailsignup" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="mdp" id="mdpsignup" placeholder="Password" required>
              </div>
              <div class="text-center"><button type="submit">S'inscrire</button></div>
        </form>
        <% } %>
          <!--End Contact Form -->

  </div>
</body>

</html>